<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shared Library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>331A48D31F8DC02600CF326A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>331A48EA1F8DC02600CF326A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>331A48F51F8DC02600CF326A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
